[Desktop Entry]
Name=SOHA
Exec=/usr/lib/SOHA/SOHA %U
Icon=/usr/share/pixmaps/SOHA.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;